@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.my-header {
  margin: 50px;
}
.hinzufuegen-form-kreuz, .bearbeiten-form-kreuz {
  text-align: right;
  margin-bottom: -15px;
}
.hinzufuegen-form-kreuz i, .bearbeiten-form-kreuz i {
  color: tomato;
  cursor: pointer;
  font-size: 30px;
}
.mr-5 {
  margin-right: 5px;
}
.ml-5 {
  margin-left: 5px;
}
.buttons-container {
  position: relative;
}
.sicher-felder {
  position: absolute;
  left: 100px;
  top:12px;
}
.buttons-container {
  min-width: 240px;;
}

.kategorie-list li {
  padding: 5px;
  cursor: pointer;
  margin-bottom: 0px;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
.kategorie-list li:hover,
.kategorie-list li.active {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.ul-kategorie-list .list-group-item, .ul-preis-list .list-group-item {
  cursor: pointer;
  padding: .375rem .75rem;
}

.ul-kategorie-list .list-group-item:hover,  .ul-kategorie-list .list-group-item.active, .ul-preis-list .list-group-item:hover,  .ul-preis-list .list-group-item.active{ 
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.bearbeitenButton {
  margin-right: 5px;
}

ul.kategorie-list:empty {
  display: none;
}